{% extends "two_factor/_base.html" %}

{% load i18n smartmin two_factor %}

{% block temba-login %}{% endblock %}

{% block content %}
<div class="row">
    <div class="span7 offset2">
        <div class="page-header">
            <h1>{% trans "Enable Two-Factor Authentication" %}</h1>
        </div>

        <p>{% blocktrans trimmed %}Congratulations, you've successfully enabled two-factor authentication.{% endblocktrans %}</p>

        <p><a href='{% url "orgs.org_choose" %}' class="btn btn-block btn-default">{% trans "Back to org" %}</a></p>
    </div>
</div>
{% endblock %}